<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" media="all" type="text/css" href={{"/assets/style.css" | relative_url }}>
  <link rel="shortcut
    icon" href={{"/assets/favicon.ico" | relative_url }}>
</head>

<body>
  <div class="banner">
    <div class="container">
      <div class="row main-row">
        <div class="col logos">
          <a href="https://www.earthscope.org/"
            style="border-right: 2px solid white; padding-right: 1em; margin-right: 1em;">
            <img height="50" src={{"/assets/earthscope-logo-white-mobile.svg" | relative_url}}
              alt="The EarthScope logo" />
          </a>
          <div>
            <img height="35" src={{"/assets/gage-sage-logo-white-mobile.svg" | relative_url}}
              alt="The logos for GAGE and SAGE" />
          </div>
        </div>
      </div>
    </div>
  </div>







  <div class="container">
    {{ content }}</div>
</body>

</html>