<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
  <style>
    #header {
      background: linear-gradient(90deg, #9E2125 0%, #3C307C 100%);
      background-image: url('{{"/assets/header-bg.jpg"|relative_url}}');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 1em 1em;
      position: fixed;
      width: 100%;
      top: 0px;
      transition: top 0.3s;
    }

    #header .logos {
      display: flex;
      align-items: flex-end;
    }

    .content {
      margin-top: 78px;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const header = document.getElementById('header');
      let prevScrollPos = window.pageYOffset;

      window.onscroll = function () {
        const currentScrollPos = window.pageYOffset;

        if (prevScrollPos > currentScrollPos) {
          header.style.top = '0';
        } else {
          header.style.top = '-78px';
        }

        prevScrollPos = currentScrollPos;
      };
    });
  </script>
  <link rel="shortcut icon" href={{"/assets/favicon.ico" | relative_url }}>
</head>

<body>
  <div id="header">
    <div class="container">
      <div class="row main-row">
        <div class="col logos">
          <a href="https://www.earthscope.org/" style="
                border-right: 2px solid white;
                padding-right: 1em;
                margin-right: 1em;
              ">
            <img height="50" src={{"/assets/earthscope-logo-white-mobile.svg" | relative_url}}
              alt="The EarthScope logo" />
          </a>
          <div>
            <img height="35" src={{"/assets/gage-sage-logo-white-mobile.svg" | relative_url}}
              alt="The logos for GAGE and SAGE" />
          </div>
        </div>
        <div class="col">
          {% include github-corner.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="container content">
    {% if page.title %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    {{ content }}
  </div>
  <!-- GitHub corner from https://github.com/tholman/github-corners -->

</body>

</html>